.loading {
    display: none;
    width: 200px;
    display: inline-block;
}

.loading img { margin: 0 10px; }

.title {
    letter-spacing: 2px;
    padding: 5px 15px;
    color: white;

    background-color: #5c5c5c;
    background-image: -webkit-gradient(radial, 100% 50%,100,-50% 50%,100, to(rgb(92, 92, 92)), from(rgb(141, 141, 141)));
    background-image: -webkit-radial-gradient(0% 50%, rgb(92, 92, 92), rgb(141, 141, 141));
    background-image: -moz-radial-gradient(0% 50%, rgb(92, 92, 92), rgb(141, 141, 141));
    background-image: -o-radial-gradient(0% 50%, rgb(92, 92, 92), rgb(141, 141, 141));
    background-image: -ms-radial-gradient(0% 50%, rgb(92, 92, 92), rgb(141, 141, 141));
    background-image: radial-gradient(0% 50%, rgb(92, 92, 92), rgb(141, 141, 141));
}

.info {
    padding: 5px 10px;
    color: white;
    box-shadow: 3px 3px 3px #555;
}

.section_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.2s;

    overflow-y: scroll;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom-left-radius: 1em;
}

.section_menu_item {
    font-family: monospace;
    color: #555;
    width: 300px;
    padding: 5px;
    margin:  3px;
    float: left;
    border-bottom: 1px solid #666;
}

.section_menu_item:hover, .section_menu_item.selected {
    color: white;
    cursor: pointer;
}

.section_menu_item.selected {
    background-color: #555;
}

.section_menu_item:hover {
    background-color: #ccc;
}

.toggle_siblings {
    background-color: #eee;
    padding: 5px;
    width: 50px;
    height: 20px;
    float: right;
    margin:  5px;
    cursor: pointer;
}

.section_menu.shrinkMenu {
    height: 50px !important;
}

.section_menu .headline {
    float: left;
    width: 150px;
    font-size: 1.3em !important;
    color: black;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #555;
}
.closebtn {
    color: black;
    font-size: 25px;
    background-color: #eee;
    padding: 0 5px;
    float: right;
    margin:  5px;
    cursor: pointer;
  }